.Input-form {
    margin-top: 2%;
    margin-bottom: 2%;
}

.Result {
    border-radius: 15px;
    border: 1px solid black;
    margin: 2%;
    margin-right: 40%;
    margin-left: 40%;
    font-size: 20px !important;
    font-style: bold;
}

label, input, button {
    display: block
}

.Instructions {
    font-style: italic;
}